body {
  background-color: #dededf;
}
main {
  display: flex;
}

#list {
  flex: 3; /* take 2 columns */
}
#list h3{
  margin-top: 30px;
  margin-bottom: 20px;
}
#details {
  flex: 1; /* take 1 column (space) */
  background-color: #fafafa;
  border: 1px solid black;
  padding: 10px;
  margin-top: 83px;
  margin-left:10px;
}
#details h3 {
  text-align: center;
}

.hide {
  display: none;
}

#iDelete:hover {
  color: #ff0000;
}

.icon-important {
  margin: 5px;
  font-size: 32px;
}
#tasksContainer {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url('../img/bg.jpg');
  border: 20px solid rgb(180, 97, 2);
  box-shadow: inset 0 0 8px rgb(0, 0, 0);
}
.task {
  margin: 1rem;
  padding: 5px;
  background-color: rgb(230, 231, 129);
  box-shadow: 0 5px 5px rgb(0, 0, 0);
}
.control {
  padding: 10px;
}

.sec-1 {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.sec-1 h6 {
  font-size: 14px;
  background-color: #f0a80e;
  padding: 3px;
  margin-right: 5px;
}

.sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:10px;
}
.sec-date {
  margin-top: 10px;
}
.sec-description {
  font-size: 20px;
  font-style: oblique;
}
h3 {
  text-align: center;
  margin-top: 50px;
}
#details h3{
  margin-top: 0px;
}
#btnDetails {
  margin-bottom: 2px;
  float:right;
  border-radius: 0px;
}
#btnSave {
  margin-top: 10px;
}
#important-div{
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}
